In [3]:
import pandas as pd
import os

In [4]:
## Reading the 'interactive_data.csv' file as a pandas dataframe
PATH_IN = './data/'
fname = os.path.join(PATH_IN, 'interactive_data.csv')
df = pd.read_csv(fname, index_col=0)
df.head(5)

,Intent,Gender,Age,Race,Deaths,Population,Rate
1,None selected,None selected,None selected,None selected,33599,316299978,10.6
2,None selected,None selected,None selected,White,22079,197369634,11.2
3,None selected,None selected,None selected,Black,7765,38896382,20.0
4,None selected,None selected,None selected,Hispanic,3007,54049078,5.6
5,None selected,None selected,None selected,Asian/Pacific Islander,442,16315561,2.7

In [9]:
%%capture 
# ^ above avoids printing commented lines in output cell

## Note that there are other ways to approach this analysis, the following is one possible correct solution.
## The file 'interactive_data.csv' contains aggregations across different categorical filters.
## Specifically, 'None selected' corresponds to the case when a filter is not applied to a column.
## Thus, such cases correspond to all possible values under that column.
## For example, if all columns have the entry 'None selected', then this corresponds to an aggregation across all entries.
## Thus, the first pre-processing step is to remove rows where at least one column has the value 'None selected'.
df_filtered = df.loc[~(df=='None selected').any(axis=1)]

'''
(df=='None selected')
    - It's a comparison operation in Pandas.
    - checks whether each individual cell in the DataFrame contains the value 'None selected'
    - result of df == 'None selected' is a new df of the same shape but instead it contains True/False values
    - True if a cell's value is 'None selected', False otherwise
    - E.g:
        Suppose df looks like this:

        A	        B	            C
        apples	    oranges	        None selected
        bananas	    None selected	grapes
        kiwi	    mangoes	        pineapple
        
        After doing df == 'None selected', the resulting DataFrame would be:

        A	        B	            C
        False	    False	        True
        False	    True	        False
        False	    False	        False


.any(axis=1): 
    - any() method returns one value for each row/column. True if ANY value in that row/column is True, otherwise False.
    - any(axis='columns') --> axis can be: 0, 1, 'index', 'columns'
        -  0: (default value, goes top-down for each col, scan row values to see if any is True)
        -  1: (goes left-right for each row, scan col values if any is True)
        - 'index' (same as 0) , 'columns' (same as 1)
    - Here, axis=1 so it looks at each row (going left-right).  
    - Returns True if any of the col values in each row is True.


(df=='None selected').any(axis=1)
    - df=='Non selected' first turns all cell values to True/False based on if they contain 'Non selected'
    - any(axis=1) scane left to right and checks if any value is True i-e at least one col value is 'Non selected'


.loc[...]
    - Returns scalar, series, or dataframe
    - .loc[ <1st arg> , <2nd arg>] returns series or scalar/single-value
    - .loc[ <condition> ] returns df. 
    - '~' is part of loc argument, it inverts condition
    - E.g:
        - df.loc['<row_name or no.>', '<col_name or no.>'] --> returns a single value at this location. for isntance, df.loc[0,1] rterurn value of row 0 under col 1
        - df.loc[0, :] --> row 0, all col values --> returns a series/list
        - df.loc[ [0,1,2] , :] --> row 0 to 2, all col values --> returns a df
        - df.loc[0:2, :] --> same as above

        - df.loc[:, 'Name'] --> gives all Name col values of all the rows, in  a series
        - df.loc[:, ['Name', 'Age']] --> gives a df with 2 cols 'Name' & 'Age', with all rows as in original
        - df.loc[:, 'Name': 'Age'] --> gives a df with all cols from 'Name' to 'Age', with all rows as in original
        
        - df.loc[df.Sex=='male'] --> gives you df where col 'Sex' have value 'male'
        - df.loc[df.Sex=='male', 'Name' ] --> same as above but returns only 'Name' col as a series/list


df.loc[~(df=='None selected').any(axis=1)]
    - df=='None selcted' assigns True/False to cells where value is 'None selected'
    - .any(axis=1) assigns a single True/False to each row where any one col value is True (i-e its 'None selected')
    - ~ inverts condition for loc i-e we get False for each row where any one col value is True (i-e its 'None selected')
    - .loc[] returns a dataframe from within df (filters it) where the condition is True
    

'''

In [49]:
# my code for understanding
from IPython.display import display # to display two .head()
axis = 1

df_temp = df=='None selected'
df_temp_2 = df_temp.any(axis=axis)
df_temp_3 = df.loc[~(df=='None selected').any(axis=1)]

print("\noriginal df")
display(df.head())

print("\n\nafter --> df=='None selected'")
display(df_temp.head())

print(f"\n\nafter --> .any(axis={axis})")
display(df_temp_2.head())

print(f"\n\nafter --> df.loc[~(df=='None selected').any(axis=1)]")
display(df_temp_3.head())

original df

,Intent,Gender,Age,Race,Deaths,Population,Rate
1,None selected,None selected,None selected,None selected,33599,316299978,10.6
2,None selected,None selected,None selected,White,22079,197369634,11.2
3,None selected,None selected,None selected,Black,7765,38896382,20.0
4,None selected,None selected,None selected,Hispanic,3007,54049078,5.6
5,None selected,None selected,None selected,Asian/Pacific Islander,442,16315561,2.7

after --> df=='None selected'

   Intent  Gender   Age   Race  Deaths  Population   Rate
1    True    True  True   True   False       False  False
2    True    True  True  False   False       False  False
3    True    True  True  False   False       False  False
4    True    True  True  False   False       False  False
5    True    True  True  False   False       False  False

after --> .any(axis=1)

1    True
2    True
3    True
4    True
5    True
dtype: bool

after --> df.loc[~(df=='None selected').any(axis=1)]

,Intent,Gender,Age,Race,Deaths,Population,Rate
152,Suicide,Female,Under 15,White,19,15355910,0.1
153,Suicide,Female,Under 15,Black,1,4095428,0.0
154,Suicide,Female,Under 15,Hispanic,4,7330024,0.1
155,Suicide,Female,Under 15,Asian/Pacific Islander,1,1393440,0.1
156,Suicide,Female,Under 15,Other,0,1661877,0.0

In [50]:
df_filtered.head()

,Intent,Gender,Age,Race,Deaths,Population,Rate
152,Suicide,Female,Under 15,White,19,15355910,0.1
153,Suicide,Female,Under 15,Black,1,4095428,0.0
154,Suicide,Female,Under 15,Hispanic,4,7330024,0.1
155,Suicide,Female,Under 15,Asian/Pacific Islander,1,1393440,0.1
156,Suicide,Female,Under 15,Other,0,1661877,0.0

In [51]:
## Compute #deaths
all_deaths = df_filtered['Deaths'].sum()

## Compute #suicides
suicides = df_filtered[df_filtered['Intent'] == 'Suicide']['Deaths'].sum()
print(f'{suicides/all_deaths*100}% of gun deaths are suicides.')

## Compute #male-suicides
male_suicides = df_filtered[
                    (df_filtered['Intent'] == 'Suicide') & 
                    (df_filtered['Gender'] == 'Male')
                ]['Deaths'].sum()
print(f'{male_suicides/suicides*100}% of suicide victims are male.')

## Compute #homicides
homicides = df_filtered[
                (df_filtered['Intent'] == 'Homicide')
            ]['Deaths'].sum()
print(f'{homicides/all_deaths*100}% of gun deaths are homicides.')

## Compute #young-black-male-homicides
young_black_male_homicides = df_filtered[
                                (df_filtered['Intent'] == 'Homicide') & 
                                (df_filtered['Gender'] == 'Male') & 
                                (df_filtered['Age'] == '15 - 34') & 
                                (df_filtered['Race'] == 'Black')
                            ]['Deaths'].sum()

## Compute #young-male-homicides
young_male_homicides = df_filtered[
                            (df_filtered['Intent'] == 'Homicide') & 
                            (df_filtered['Gender'] == 'Male') & 
                            (df_filtered['Age'] == '15 - 34')
                        ]['Deaths'].sum()
print(f'{young_black_male_homicides/young_male_homicides*100}% of homicide victims who are males in the age-group of 15--34 are black.')

## Compute #women-homicides
women_homicides = df_filtered[
                        (df_filtered['Intent'] == 'Homicide') & 
                        (df_filtered['Gender'] == 'Female')
                    ]['Deaths'].sum()
print(f'Women constitue only {women_homicides/homicides*100}% of the total homicide victims.')

62.68194671826165% of gun deaths are suicides.
86.24275809668535% of suicide victims are male.
34.906980205387704% of gun deaths are homicides.
66.12482748044778% of homicide victims who are males in the age-group of 15--34 are black.
Women constitue only 15.289502856655583% of the total homicide victims.